%tr
  %td{:class => 'about-td', :style => 'padding-top:12px;'}    
    %h3
      Our Philosophy
%tr
  %td{:class => 'about-td'}
    Online social outlets (Google, Twitter, Facebook, Instagram, Apple and Reddit) have made it a priority to censor political discussion, repressing or promoting stories according to their political bias.     
%tr    
  %td{:class => 'about-td'}
    %br/    
    Here are a few stories documenting what we know:
%tr    
  %td{:class => 'about-td'}
    %br/
    \-
    %a{href: 'https://www.rt.com/viral/346494-facebook-reddit-censor-orlando/'}
      Facebook & Reddit censor users after Orlando massacre
    %br/
    \-
    %a{href: 'http://www.foxnews.com/tech/2016/06/21/reddits-post-orlando-purge-has-forums-users-questioning-commitment-to-free-speech.html'}
      Reddit's post-Orlando purge has forum's users questioning commitment to free speech
    %br/
    \-
    %a{href: 'http://observer.com/2016/08/tech-companies-apple-twitter-google-and-instagram-collude-to-defeat-trump/'}
      Tech Companies Apple, Twitter, Google and Instagram Collude to Defeat Trump
    %br/
    \-
    %a{href: 'http://www.redstate.com/erick/2015/07/16/apple-inc-has-little-interest-in-conservative-news-voices/'}
      Apple, Inc. Has Little Interest In Conservative News Voices
    %br/
    \-
    %a{href: 'https://www.buzzfeed.com/charliewarzel/sources-twitter-ceo-dick-costolo-secretly-censored-abusive-r?utm_term=.wtaBxPeXw#.dczQGx3eg'}
      Twitter CEO Dick Costolo Secretly Censored Abusive Responses To President Obama
    %br/    
    \-
    %a{href: 'http://www.vocativ.com/290811/twitter-accused-of-censoring-anti-hillary-hashtag/'}
      Twitter Accused Of Censoring Anti-Hillary Hashtag
    %br/    
    \-
    %a{href: 'http://www.breitbart.com/tech/2016/06/20/instagram-censors-conservative-comedy-group/'}
      Instagram Censors Conservative Comedy Group, Provides No Reason
    %br/
%tr
  %td{:class => 'about-td'}
    %br/
    #{Constants::APP_NAME} was created to give a voice to users who are alienated by political actions of the social networks they use. It is a community founded from the idea that the principles of the 1st amendment should be preserved while discussing stories online. 
%tr    
  %td{:class => 'about-td'}
    %br/    
    Our goal is to create a robust platform for promoting stories and ideas its community deems important. A key role of #{Constants::APP_NAME} is to facilitate discussion of these stories outside of our comminity also, eventually effecting change. 
    %br/    
    %br/