%tr
  %td{:class => 'about-td'}
    %h3
      %br/
      Guidelines 
      %br/
%tr
  %td{:class => 'about-td'}    
    %b
      What to Submit
%tr
  %td{:class => 'about-td'}          
    Stories that people interested in news and politics find intellectually stimulating. 
    %br/
    %br/
%tr
  %td{:class => 'about-td'}         
    %b
      In Submissions
    %br/
%tr
  %td{:class => 'about-td'}          
    \- Please verify they have not been submitted and discussed on the site already by searching on the bottom bar.
%tr
  %td{:class => 'about-td'}          
    \- Please don't do things to make titles stand out, like using uppercase or exclamation points, or adding a parenthetical remark saying how great an article is. It's implicit in submitting something that you think it's important.
%tr
  %td{:class => 'about-td'}          
    \- If you submit a link to a video or pdf, please warn us by appending [video] or [pdf] to the title.
%tr
  %td{:class => 'about-td'}          
    \- Please submit the original source. If a post reports on something found on another site, submit the latter.
%tr
  %td{:class => 'about-td'}          
    \- If the original title includes the name of the site, please take it out, because the site name will be displayed after the link.
%tr
  %td{:class => 'about-td'}          
    \- If the original title begins with a number or number + gratuitous adjective, we'd appreciate it if you'd crop it. E.g. translate "10 Ways To Do X" to "How To Do X," and "14 Amazing Ys" to "Ys." Exception: when the number is meaningful, e.g. "The 5 Platonic Solids."
%tr
  %td{:class => 'about-td'}          
    \- Otherwise please use the original title, unless it is misleading or linkbait.
%tr
  %td{:class => 'about-td'}          
    \- Please don't post on #{Constants::APP_NAME} to ask or tell us something. If you want to say something to us, please send it to liberty76@gmail.com.
%tr
  %td{:class => 'about-td'}          
    \- Please don't submit so many links at once that the new page is dominated by your submissions.
    %br/
    %br/
%tr
  %td{:class => 'about-td'} 
    %b        
      In Comments
%tr
  %td{:class => 'about-td'}        
    \- Be civil. Don't say things you wouldn't say in a face-to-face conversation. Avoid gratuitous negativity.
%tr
  %td{:class => 'about-td'}         
    \- When disagreeing, please reply to the argument instead of calling names. E.g. "That is idiotic; 1 + 1 is 2, not 3" can be shortened to "1 + 1 is 2, not 3."
%tr
  %td{:class => 'about-td'}        
    \- Please don't insinuate that someone hasn't read an article. "Did you even read the article? It mentions that" can be shortened to "The article mentions that."
%tr
  %td{:class => 'about-td'}       
    \- Please don't sign comments; they're already signed with your username. If other users want to learn more about you, they can click on it to see your profile.
%tr
  %td{:class => 'about-td'}       
    \- Please don't use uppercase for emphasis. If you want to emphasize a word or phrase, put *asterisks* around it and it will get italicized.
%tr
  %td{:class => 'about-td'}       
    \- Please don't submit comments complaining that a submission is inappropriate for the site. If you think a story is spam or off-topic, flag it by clicking on its 'flag' link. If you think a comment is egregious, click on its timestamp to go to its page, then click 'flag' at the top. (Not all users see flag links; there's a small karma threshold.)
%tr
  %td{:class => 'about-td'}        
    \- If you flag something, please don't also comment that you did.
    %br/
    %br/