%tr
    %td
        %h3
            Welcome to #{Constants::APP_NAME}
%tr
    %td
        #{Constants::APP_NAME} is a bit different from other community sites, and we'd appreciate it if you'd take a minute to read the following as well as the 
        %a{:href => guidelines_path }
            guidlines
        \.
        We believe in free thought but also we believe in being civil. 
        %br/
        %br/
%tr
    %td
        Essentially there are two rules here: don't post or upvote crap links, and don't be rude or dumb in comment threads.
        %br/
%tr
    %td
        The most important principle on #{Constants::APP_NAME}, is to make substantial and civil comments. 
        %br/
        %br/
%tr
    %td
        Before you comment, ask yourself if what you are going to say can teach us anything. There are two ways to do that: by pointing out some consideration that hadn't previously been mentioned, and by giving more information about the topic, perhaps from personal experience. Whereas comments like "LOL!" or worse still, "That's retarded!" teach us nothing.
        %br/
        %br/
%tr
    %td
        Empty comments can be ok if they're positive. There's nothing wrong with submitting a comment saying just "Thanks." What we especially discourage are comments that are empty and negative—comments that are mere name-calling.
        %br/
        %br/